@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap');

*{padding:0;margin:0;}

body{
  max-width: 800px;
  margin: auto;
  position: relative;
  font-family: 'Rubik', sans-serif;
  background: #102025 linear-gradient(#213e44, #102025) repeat-x !important;
  background-size: auto;
  background-size: 100% 4.5em !important;
  color: #e1f5f3;
  padding: 10px;
}

h1.pageTitle{
  padding-bottom: 10px;
}

#logo{
  padding: 5px;
}

a{
  color: #6be1d6 !important;
  font-weight: bold;
}

hr{
  border: 0;
  border-top: 2px solid #0f6d5f;
  color: inherit;
}

#article{
  background: #62cec522;
  padding: 20px;
  border: 1px solid #62cec5;
}
.printfooter{
  font-size: 75%;
  margin-top: 10px;
}
